.main-container{
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid #313b45 1px;
  margin-top: 10px;
}

.body {
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 10px;
}